<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.Listeners.ListenerClass"></listener>
    </listeners>
    <test verbose="1" preserve-order="true" thread-count="2" parallel="classes"
          name="C:/Users/karan.agarwal/IdeaProjects/learning_framework">
        <classes>
            <class name="org.learn.tests.OrangeHRMLoginTest"></class>
        </classes></test></suite>