<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" thread-count="2" parallel="classes"
          name="C:/Users/karan.agarwal/IdeaProjects/learning_framework">

        <classes>
            <class name="org.learn.tests.HomepageTests"></class>
            <class name="org.learn.tests.LoginpageTests"></class>
        </classes></test></suite>